body{
    text-align: center;
    color: bisque;
    background-color: rgb(119, 8, 8);
}

.container {
  display: flex;
  gap: 30px; 
}

.container img {
  border-top-right-radius: 6px;
  width: 300px;
  border-radius: 10px;
}

.text1 {
  align-items: center ;
  max-width: 500px;
}

.img{
  border: 5px solid;
}

.navbar {
  background-color: rgb(81, 16, 16) !important;
}

.navbar .nav-link {
  color: bisque !important;
}

.navbar-brand {
  font-family: cursive;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(81, 16, 16) !important;
  color: bisque !important;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-toggler{
  background-color: rgb(119, 8, 8);
}

.navbar-toggler-icon{
  background-color: rgb(119, 8, 8);
}

.card img{
  height: 300px;
  object-fit: cover;
}
.card{
  width: 300px;
background-color:brown

}
.text2{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(98, 17, 17);
  text-align: center;

}

  