body {
    text-align: center;
    color: bisque;
    background-color: rgb(119, 8, 8);
}



.navbar {
    background-color: rgb(81, 16, 16) !important;
}

.navbar .nav-link {
    color: bisque !important;
}

.navbar-brand {
    font-family: cursive;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(81, 16, 16) !important;
    color: bisque !important;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-toggler{
    background-color: rgb(119, 8, 8);
}

.navbar-toggler-icon{
    background-color: rgb(119, 8, 8);
}

header{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

img{
    width: 450px;
    height: auto;
    align-items: center;
    object-fit: contain;
    margin-top: -600px;
    margin-left: 16px;
    opacity: 0.3;
}

.hover-img {
    transition: opacity 0.3s ease;
  }
  
  .hover-img:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
.btn[btn-outline-success]{
    background-color: bisque;
}

footer {
    background-color: rgb(81, 16, 16);
    color: bisque;
    width: 100%;
    text-align: center;
}